@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300&family=Lobster&family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@300&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Ubuntu&display=swap');

body {
    background-color: azure;
}

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    font-family: 'Ubuntu' , sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    display: inline;
    padding: 0 12px;
}

.brand img {
    width: 66px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 63vh;
    background-color: black;
    color: #fff;
    display: flex;
    margin: 23px auto;
    width:70%;
    border-radius: 12px;
    padding: 34px;
    height: 55px;
    background-image: url(bg.jpeg);
    background-size: 99%;
}

.container h1{
    font-size: medium;
}

.bottom{
    position: sticky;
    background-color: black;
    color: #fff;
    top:100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
  width: 80vw;
  height: 4px;

}

.songItemcontainer{
    margin-top: 7px;
}

.songItem{
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
   color: black;
   margin: 12px 0;
   border-radius: 34px;

}

.songItem img{
   width: 43px;
   margin: 0 23px;
}

.timestamp{
    margin: 0 23px;
    
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}